@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
  width: 100vw;
  font-family: "Arvo", sans-serif;
}

.background {
  background-image: url("/background.webp");
  background-size: cover;
  background-position: center;
}

.card {
  border-radius: 19px;
  border: none;
  background: rgba(7, 34, 61, 0.8);
  color: white;
  padding: 52px 10px;
  width: 530px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-header__profile-image {
  border-radius: 100%;
  border: 3px solid rgba(7, 34, 61, 0.8);
  height: 142px;
  width: 142px;
}

.card-header__name {
  color: #54a1bf;
  font-size: 36px;
  font-weight: 700;
}

.card-header__last-name {
  color: #54a1bf;
  font-weight: 400;
}

.card__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  width: 100%;
}

.card__links li {
  border-radius: 17px;
  background: #54a1bf;

  list-style: none;
  width: 95%;
  display: flex;
  justify-content: center;
}

.card__links li a {
  text-align: center;
  text-decoration: none;
  color: white;

  padding: 20px 10px;

  font-size: 24px;
  font-weight: 400;
}

.card__social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  gap: 59px;
}

.card__social-links img {
  width: 46px;
  height: 46px;
}

@media (max-width: 516px) {
  .card {
    width: 100%;
    height: 100%;
    border: none;
  }
}
